
h1 {
    text-align: center;
}

.main{
    margin: 3% 30%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.flex {
    display: flex;
    margin-bottom: 20px;
}
.cart {
    background-color: aquamarine;
    gap: 20px;
}

.item-1, .item-2 {
    display: flex;
    padding: 15px;
}

.image {
    margin-right: 50px;
}

input[type=number] {
    width: 30%;
    text-align: center;
}

.price {
    padding-left: 15px;
}

.quantity {
    align-self: flex-end;
    position: relative;
    right: 80px;
}

.sum {
    background-color: aqua;
    text-align: center;
}

.liked  {
    background-color: red;
}

@media screen and (min-width:420px) and (max-width:768px) {
    .main {
        margin: 3%;
    }

    input[type=number] {
        width: 40%;
        text-align: center;
    }
    
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .main {
        margin: 10%;
    }

    input[type=number] {
        width: 30%;
        text-align: center;
    }
    
}
  
  